body
    margin: 0
    *
        box-sizing: border-box
        color: var(--text)

/*--- body ---*/
#background
    height: 100%
    width: 100%
    position: fixed
    background-position: center center
    background-size: cover
    background: #3d3d3d

#content_wrapper
    --padding: 5vmin
    position: absolute
    height: calc(100vh - var(--padding))
    width: calc(100vw - 2 * var(--padding))
    top: var(--padding)
    left: var(--padding)
    display: flex
    @media (orientation: portrait)
        flex-direction: column-reverse
        justify-content: flex-end
        align-content: flex-start

.left_side
    display: flex
    flex-direction: column
    align-items: flex-start

.right_side
    position: relative
    display: flex
    @media (orientation: landscape)
        max-width: 50%
        flex-direction: column
        justify-content: flex-start
        align-content: flex-end
        flex: 1 0 auto
    @media (orientation: portrait)
        justify-content: flex-end
        align-content: flex-start
        width: 100%
        margin-bottom: 1rem

/*--- style classes ---*/
.hover_highlight
    transition: opacity .45s ease-in-out, box-shadow .45s ease-in-out, transform .45s ease-in-out
    opacity: .7
    box-shadow: transparent 1px 1px 6px 2px
    &:focus, &:hover
        opacity: 1
        transform: scale(1.05)
        box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 6px 2px


/*--- context menu ---*/
#context_menu
    position: absolute
    display: none
    opacity: 0
    transition: opacity .45s ease-in-out
    flex-direction: column
    top: 5vh
    left: 10vw
    z-index: 100
    span
        background-color: var(--bg)
        transition: opacity .15s ease-in-out
        opacity: .5
        cursor: pointer
        padding: 1vmin
        &:first-of-type
            border-top-left-radius: 1vmin
            border-top-right-radius: 1vmin
        &:last-of-type
            border-bottom-left-radius: 1vmin
            border-bottom-right-radius: 1vmin
        &:hover
            opacity: 1

.context_menu #context_menu
    opacity: 1
    display: flex


/*--- website icons ---*/
#website_icon_wrapper
    display: flex
    flex-wrap: wrap
    @media screen and ( orientation: portrait )
        width: 100%
        justify-content: center
    
    &.drag_n_drop
        .website_icon
            animation: wiggle .25s ease-in-out forwards infinite
            transform-origin: center center
            &:nth-of-type(3n)
                animation-delay: 0s
            &:nth-of-type(3n+1)
                animation-delay: -.1s
            &:nth-of-type(3n+2)
                animation-delay: -.2s
    &.holds_icon
        .website_icon_margin:hover
            transition: width .25s linear
            width: 8rem
            height: 6rem
            div
                width: 6rem
                height: 100%
                margin: 0 1rem

    &:not(.drag_n_drop)
        .website_icon
            margin-right: 1rem
        .website_icon_margin
            display: none

@keyframes wiggle
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(3deg)
    75%
        transform: rotate(-3deg)
    100%
        transform: rotate(0deg)

.website_icon_outer
    display: flex

.website_icon
    position: relative
    background-color: var(--bg-transparent)
    border-radius: var(--border-radius)
    display: flex
    align-items: center
    cursor: pointer

    height: 6rem
    width: 6rem
    padding: .75rem
    margin-bottom: 1rem
    p
        text-align: center
        margin: 0
        text-decoration: none !important
        white-space: pre-wrap
        width: 4.5rem
        overflow: hidden
        overflow-wrap: break-word
        pointer-events: none
        max-height: 100%
    img
        width: 4.5rem
        height: 4.5rem
        object-fit: contain
        pointer-events: none
        &:not(.website_icon_small)
            border-radius: var(--border-radius)
    .website_icon_small
        position: absolute
        bottom: .25rem
        right: .25rem
        height: 2rem
        width: 2rem
        background-color: transparent
        margin: 0
        border-radius: 50%
        pointer-events: none
        // don't small icons that have no src
        &:not([src])
            display: none
    &#add_website svg
        pointer-events: none
        width: 4.5rem
        height: 4.5rem
    &:not(.error) p
        display: none
    &.error img
        display: none

.website_icon_margin
    width: 1rem
    div
        background: var(--bg-transparent)
        border-radius: var(--border-radius)
        pointer-events: none

.website_icon_filler
    width: 6rem
    margin-right: 1rem

/*--- add website overlay ---*/
#overlay
    position: fixed
    z-index: 100
    top: 0
    opacity: 0
    display: none
    justify-content: center
    align-items: center
    transition: opacity .45s ease-in-out
    width: 100%
    height: 100%
    .overlay_wrapper
        background-color: transparentize(#353535, .2)
        border-radius: var(--border-radius)
        padding: 5vmin 10vmin
        display: flex
        flex-direction: column
        align-items: center
        min-height: 20vh
        h1
            margin: 0
        #overlay_inputs
            display: flex
            flex-direction: column
        span
            width: 100%
            text-align: left
            margin-top: 2.5vmin
        input
            background-color: transparent
            outline: none
            border: .15vmin solid var(--text-transparent)
            border-radius: var(--border-radius)
            padding: 1vmin
            width: 100%
            min-width: 15rem
        button
            background-color: var(--bg)
            border: 0
            outline: none
            border-radius: var(--border-radius)
            width: 100%
            margin-top: 1vmin
            padding: .5vmin
            cursor: pointer
            font-size: 1.5rem
            &:hover
                background-color: #242424
    svg
        position: absolute
        top: 2.5vmin
        right: 2.5vmin
        height: 5vmin
        width: 5vmin
        cursor: pointer
        background-color: var(--bg-transparent)
        border-radius: 50%
        padding: 1vmin

.overlay #overlay
    opacity: 1
    display: flex


/*--- search bar --- */
#search_bar_form
    margin-bottom: 1rem
    @media (orientation: landscape)
        width: 25rem
    @media (orientation: portrait)
        width: 100%

#search_bar
    background-color: var(--bg-transparent)
    outline: none
    border: 0
    height: 3.5rem
    width: 100%
    border-radius: var(--border-radius)
    padding-left: .5rem
    margin: auto
    font-size: 1.25rem
    color: var(--text)
    &::placeholder
        color: var(--text-transparent)


/*--- Clock and Date ---*/
#time_wrapper
    display: flex
    flex-direction: column
    @media (orientation: landscape)
        align-items: flex-end
        margin-left: 5vw
    @media (orientation: portrait)
        margin-right: 1rem

#clock
    font-size: 5rem
    line-height: 5rem
    height: 5rem
    display: flex
    justify-content: flex-end
    p
        margin: 0
        text-align: center
        &.clock_time
            font-family: Roboto-mono
    &:not(.seconds)
        p:nth-child(6), p:nth-child(7), p:nth-child(8)
            display: none

#date
    font-size: 2.5rem


/*--- Notpad ---*/
#notepad
    width: calc(100% - 5vw)
    flex-grow: 1
    display: flex
    flex-direction: column
    display: none
    .note
        width: 100%
        margin: .5rem
        background: var(--bg-transparent)
        transition: box-shadow .25s ease-in-out
        border-radius: var(--border-radius)
        &:focus, &:hover
            box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 6px 2px

    input
        width: 100%
        background: transparent
        outline: none
        border: 0
        font-size: 1.4em
        padding:
            top: calc(var(--border-radius) * 1.5)
            left: calc(var(--border-radius) * 1.5)

    textarea
        resize: none
        width: 100%
        min-height: 4rem
        max-height: 40vh
        border: none
        outline: none
        color: var(--text)
        padding: calc(var(--border-radius) * 1.5)
        line-height: 1.25rem
        background: transparent

    @media (orientation: landscape)
        margin-left: 5vw
    @media screen and (orientation: portrait)
        height: 100%
        flex: 1 0 20vw

    #add_note
        height: 2rem
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        padding: calc(var(--border-radius) * 1.5)
        outline: none
        border: none
        cursor: pointer
        svg
            height: 2rem

/*--- settings ---*/
#settings
    position: fixed
    bottom: 2.5vmin
    right: 2.5vmin
    width: 3rem
    height: 2.5rem
    padding: 0 .25rem

    >svg
        cursor: pointer
        flex: 0 0 5vmin
        width: 5vmin

        flex: 0 0 2.5rem
        width: 2.5rem

        transition: transform .25s ease-in-out
        &:hover
            transform: scale(1.1)
        path
            pointer-events: none
    
    #background_options_wrapper
        --size: 8vw
        top: 0
        left: 0
        position: fixed
        width: 100%
        background-color: var(--bg-transparent)
        overflow: hidden
        height: 100%
        z-index: -1
        display: flex
        justify-content: center
        align-items: center
        // transition is added via js to prevent transition to show element when page loads
        // transition: opacity .25s ease-in-out
        #close_backgrounds
            position: absolute
            top: 2rem
            right: 2rem
            height: 3rem
            width: 3rem
            outline: none
            border: none
            margin: 0
            padding: 0
            border-radius: 50%
            background: transparent
            z-index: 1
            cursor: pointer
            transition: background-color .25s ease-in-out
            svg
                fill: var(--text)
            &:hover
                background-color: var(--text-transparent)
        #background_options
            display: flex
            flex-wrap: wrap
            align-items: flex-start
            justify-content: space-between
            width: 80%
            max-height: 100%
            overflow-y: auto
            margin: 0 auto

    &:not(.open) #background_options_wrapper
        opacity: 0
        pointer-events: none

    &.open
        position: fixed
        z-index: 10
        #background_options_wrapper
            opacity: 1

    .background_option_filler
        width: calc(var(--size) * 6 / 5)
        height: 0

    .background_option
        position: relative
        cursor: pointer
        border: .15vmin solid var(--text)
        border-radius: 50%
        background: var(--background)
        transition: transform .25s ease-in-out
        
        width: var(--size)
        height: var(--size)
        margin: calc(var(--size) / 10)

        &:hover
            transform: scale(1.1)
            .deleteSvg
                opacity: 1

        &:not(.selected)
            .selectedSvg
                display: none
        .selectedSvg
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            fill: var(--text)

        .deleteSvg
            transition: opacity .2s ease-in-out
            fill: var(--text)
            opacity: 0
            z-index: 1
            position: absolute
            bottom: 0
            right: 0
            height: 40%
            width: 40%
            path
                pointer-events: none

        &.add_background
            display: flex
            justify-content: center
            align-items: center
            background: var(--bg-transparent)
            svg
                height: calc(var(--size) / 3 * 2)
                width: calc(var(--size) / 3 * 2)
